@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root{
    --accent-color: red;
    --base-color: white;
    --text-color: black;
    --input-color: rgb(231, 185, 185);
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: Playfair Display, serif;
    font-size: 12pt;
    color: var(--text-color);
    text-align: center;
}

body{
    min-height: 100vh;
    background-image: url(background.png);
    background-size: cover;
    background-position: right;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper{
    box-sizing: border-box;
    background-color: rgba(207, 125, 125, 0.6);
    height: 100vh;
    width: max(40%, 600px);
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
}

form{
    width: min(400px, 100%);
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

form > div{
    width: 100%;
    display: flex;
    justify-content: center;
}

form label{
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    background-color: var(--accent-color);
    fill: var(--base-color);
    color:var(--base-color);
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
}

form input{
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    padding: 1em;
    font: inherit;
    border-radius: 0 10px 10px 0;
    border: red;
    border-left: none;
    background-color: var(--input-color);
    transition: 150ms ease-in-out;
}

form input:hover{
    border: 2px solid var(--accent-color);
}

form button{
    margin-top: 10px;
    border: black;
    border-radius: 1000px;
    padding: .85em 4em;
    background-color: var(--accent-color);
    font: inherit;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}